[Desktop Entry]
Name=Bloom Welcome
Comment=Welcome to Bloom
Exec=bloom-welcome
Icon=distributor-logo
Type=Application
Categories=Settings;GTK;
Terminal=false
StartupNotify=true
