[Desktop Entry]
Name=Install Bloom
Comment=Install the system to disk
Exec=bloom-install
Icon=drive-harddisk
Type=Application
Categories=Settings;GTK;
Terminal=false
StartupNotify=true
NoDisplay=false
