[Desktop Entry]
Name=Bloom Settings
Comment=Configure your system
Exec=bloom-settings
Icon=preferences-system
Type=Application
Categories=Settings;GTK;
Terminal=false
StartupNotify=true
